<p id="notice"><%= notice %></p>

<p>
  <strong>To user name:</strong>
  <%= @message.to_user_name %>
</p>

<p>
  <strong>From user name:</strong>
  <%= @message.from_user_name %>
</p>

<p>
  <strong>Create time:</strong>
  <%= @message.create_time %>
</p>

<p>
  <strong>Message type:</strong>
  <%= @message.message_type %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Msg:</strong>
  <%= @message.msg_id %>
</p>

<%= link_to 'Edit', edit_wx_message_path(@message) %> |
<%= link_to 'Back', wx_messages_path %>
