<%= form_for(@wx_app) do |f| %>
  <% if @wx_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wx_app.errors.count, "error") %> prohibited this wx_app from being saved:</h2>

      <ul>
      <% @wx_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :icon_id %><br>
    <%= f.text_field :icon_id %>
  </div>
  <div class="field">
    <%= f.label :wx_id %><br>
    <%= f.text_field :wx_id %>
  </div>
  <div class="field">
    <%= f.label :app_id %><br>
    <%= f.text_field :app_id %>
  </div>
  <div class="field">
    <%= f.label :sceret %><br>
    <%= f.text_area :sceret %>
  </div>
  <div class="field">
    <%= f.label :token %><br>
    <%= f.text_area :token %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
