<%= form_for(@wx_message) do |f| %>
  <% if @wx_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wx_message.errors.count, "error") %> prohibited this wx_message from being saved:</h2>

      <ul>
      <% @wx_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :to_user_name %><br>
    <%= f.text_field :to_user_name %>
  </div>
  <div class="field">
    <%= f.label :from_user_name %><br>
    <%= f.text_field :from_user_name %>
  </div>
  <div class="field">
    <%= f.label :create_time %><br>
    <%= f.datetime_select :create_time %>
  </div>
  <div class="field">
    <%= f.label :message_type %><br>
    <%= f.text_field :message_type %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :msg_id %><br>
    <%= f.number_field :msg_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
