<h1>Listing wx_messages</h1>

<table>
  <thead>
    <tr>
      <th>To user name</th>
      <th>From user name</th>
      <th>Create time</th>
      <th>Message type</th>
      <th>Content</th>
      <th>Msg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wx_messages.each do |wx_message| %>
      <tr>
        <td><%= wx_message.to_user_name %></td>
        <td><%= wx_message.from_user_name %></td>
        <td><%= wx_message.create_time %></td>
        <td><%= wx_message.message_type %></td>
        <td><%= wx_message.content %></td>
        <td><%= wx_message.msg_id %></td>
        <td><%= link_to 'Show', wx_message %></td>
        <td><%= link_to 'Edit', edit_wx_message_path(wx_message) %></td>
        <td><%= link_to 'Destroy', wx_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_wx_message_path %>
