<%= form_for(@wx_file) do |f| %>
  <% if @wx_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wx_file.errors.count, "error") %> prohibited this wx_file from being saved:</h2>

      <ul>
      <% @wx_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file_name %><br>
    <%= f.text_field :file_name %>
  </div>
  <div class="field">
    <%= f.label :file_size %><br>
    <%= f.number_field :file_size %>
  </div>
  <div class="field">
    <%= f.label :mime_type %><br>
    <%= f.text_field :mime_type %>
  </div>
  <div class="field">
    <%= f.label :digest %><br>
    <%= f.text_field :digest %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
